.topicos{
    background: var(--cor-item-cabecalho);
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--cor-cabecalho);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__itens{
    margin: 1.5em 0.5em;
    
}

.topicos__links{
    background-color: var(--cor-titulo-cabecalho);
    color: var(--cor-cabecalho);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
}

@media (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;   
    }
    
    .topicos__links{
        font-size: 24px;
    }

    .topicos__itens{
        margin: 2.5em 0.5em ;
     
    }
    .topicos__lista{
        width: 80% ;
        margin: auto;
    }
    
}

@media (min-width: 1728px){
    .topicos{
        padding: 3em 23vw;
    }
}